<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script>
        // UNCOMMENT AND USE YOUR VARIABLES FOR DISQUS AND GOOGLE ANALYTICS
        // var d_id  = '',
        //     g_id  = 'UA-XXXXXXXX-X', // Format: UA-########-#, Example: UA-11220899-1
        //     g_url = 'XXXXXXX.XXX' // Format: #####.####, Example: webdesignporto.com
    </script>
    
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "highlighter/prettify.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "icons/apple-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "icons/apple-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "icons/apple-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "icons/apple-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "icons/apple-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "icons/apple-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "icons/apple-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "icons/apple-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "icons/apple-icon-180x180.png"}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{asset "icons/android-icon-192x192.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "icons/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset "icons/favicon-96x96.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "icons/favicon-16x16.png"}}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <!-- <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a> -->
        <div class="inner">
             <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> in <a href="https://github.com/mityalebedev/The-Shell">The Shell</a> theme.</section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    
    {{! Scripts }}
    <script type='text/javascript' src='assets/highlighter/prettify.js'></script>
    <script type='text/javascript' src='assets/js/shell.js'></script>
  </body>
</html>